﻿@charset "utf-8";

/*** total style ***/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: #fff ;
  background: url(../images/step_bg.png);
  color: black;
  font-family: 'Source Sans Pro', 'メイリオ',Meiryo, 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;
  font-size: 1.6rrem;
  width: 100%;
}

/*** float ***/
.fl-l {
  float: left;
}
.fl-r {
  float: right;
}

/*** clearfix ***/
.cf:before, .cf:after {
  content:"";
  display:block;
  overflow:hidden;
}
.cf:after { clear:both; }
.cf { zoom:1; }

/*** normalize 対策 ***/
p {
  margin: 0;
  font-size: 1.6rem;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
img{
  vertical-align: top;
}
table{
  border: 0;
  border-collapse:collapse;
}
table tr{
  padding: 0;
}
table tr td{
  border: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
address {
  font-style: normal;
}

/*** mouse over ***/
a img {
  /*border: medium none transparent;*/
}
a:hover img {
  filter:alpha(opacity=60);
  opacity: 0.6;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/*** inner width ***/
.contents_inner {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
.wrapper {
}
/********************************/

/***** common *****/
th.bgW {
  background-color: #fff;
}
.fwB {
  font-weight: bold;
}
.fwN {
  font-weight: normal;
}
.txtAC {
  text-align: center;
}
.txtAL {
  text-align: left;
}
.txtAR {
  text-align: right;
}
.colorRed {
  color: #c40e03;
}
.row {
  width: 100%;
  overflow: hidden;
}
.col {
  float: left;
  width: 50%;
}
.col3 {
  float: left;
  width: 25%;
}
.col4 {
  float: left;
  width: 33%;
}
.col4 {
  float: left;
  width: 30%;
}
.col5 {
  float: left;
  width: 42%;
}
.col6 {
  float: left;
  width: 50%;
}
.col7 {
  float: left;
  width: 58%;
}
.col8 {
  float: left;
  width: 67%;
}
.col9 {
  float: left;
  width: 75%;
}
.wid5{
  width: 5%;
}
.wid10{
  width: 10%;
}
.wid15{
  width: 15%;
}
.wid20{
  width: 20%;
}
.wid25{
  width: 25%;
}
.wid30{
  width: 30%;
}
.wid33{
  width: 33%;
}
.wid40{
  width: 40%;
}
.wid45{
  width: 45%;
}
.wid50{
  width: 50%;
}
.wid70{
  width: 70%;
}
.wid80{
  width: 80%;
}
.wid90{
  width: 90%;
}
.wid95{
  width: 95%;
}
.wid100{
  width: 100%;
}
.ttl {
  margin: 0 auto 70px;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-size: 3.6rem;
  text-align: center;
  font-weight: normal;
}
.ttlL {
  margin: 0 auto 20px;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-size: 3.6rem;
  font-weight: normal;
}
.ttl2 {
  display: inline-block;;
  margin: 60px auto;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-size: 2.25rem;
  color: #fff;
}
.ttl3 {
  font-size: 2.2rem;
  margin: 25px  auto;
}
.ttl3m {
  margin:25px  auto;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    font-size: 2.2rem;
  font-weight: normal;
}
.ttl4 {
  font-size: 2rem;
  margin: 15px auto;
}
.ttl5 {
  background: url(../images/ttl_border.png) top left no-repeat;
  /*background-size:auto 100%;*/
  margin-bottom: 15px;
  padding: 5px 20px;
  font-weight: normal;
  }
.txt1 {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
}
.txt2 {
  font-size: 1.8rem;
}
.txt3 {
  font-size: 1.2rem;
}
.tel {
  font-size: 2.7rem;
  vertical-align: middle;
}
.tel img {
  height: auto;
  max-height: 27rem;
  vertical-align: middle;
}
ul img {
  text-align: center;
}
.mark {
  position: absolute;
  margin-top: -70px;
}
.ant {
  font-size: 1.1rem;
  text-indent: 15rem;
  text-align: left;
}
.antList {
  margin: 10px auto;
  font-size: 1.2rem;
}
.antList li:before{
  content:"※";
}
.spOnly {
  display: none;
}
.fixed {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  background: #000;
}
/* header
***************************************************************/
header {
  position: relative;
  background: #fff;
}
header h1 {
  font-size: 0.5rem;
}
header h1 span {
  font-size: 1.2rem;
  font-weight: normal;
}
.hLogo {
  margin: 15px auto;
  line-height: 25px;
}
.tagLine {
  width: 100%;
  clear: both;
  margin-bottom: 10px;
}
.fa-2x {
    font-size: 3rem;
}
header nav {
  background: #000;
  border-bottom:solid 2px #d4d4d4;
}
.gNav  {
  width: 100%;
  max-width: 960px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}
.gNav li {
  display: inline-block;
  width: 20%;
  background: #000;
  padding: 10px 0 10px;
  line-height: 28px;
}
.gNav li:hover {
  background: url(../images/gnav_hover_bg.png) no-repeat;
  background-size: cover;
  text-decoration: none;
}
.gNav li a {
  display: block;
  color: #fff;
  text-decoration: none;
}
/* #keyVisual
***************************************************************/
#keyVisual {
  background: #000 url(../images/mv_bg.png) top left no-repeat;
  text-align: center;
}
#keyVisual img {
  width: 100%;
  max-width: 1400px;
}
/* #promise
***************************************************************/
#promise {
  position: relative;
  background: url(../images/promise_bg.png);
  background-size: cover;
  padding: 70px 0 70px;
}
.prmList {
  width: 100%;
}
.prmList li {
  display: inline-block;
  width: 30%;
  margin-right: 4%;
}
.prmList li:last-child {
  margin-right: 0;
}
/* #price
***************************************************************/
#price {
  position: relative;
  background: url(../images/price_bg.png);
  background-size: cover;
  padding: 70px 0 70px;
}
#price ttl {
  text-align: left;
}
.priceOption {
  margin: 70px auto;
}
.tableBox {
  background: rgba(248, 247, 245, 0.5);
  padding: 10px;
  overflow: hidden;
}
.simpTable {
  width: 100%;
  border: solid 1px #e7e7e7;
  padding: 10px;
}
.simpTable th {
  width: 33%;
}
.simpTable th:first-child {
  width: auto;
  margin: 0;
  padding: 0;
}
.simpTable td {
  font-size: 1.8rem;
}
.simpTable img {
  min-width: 22px;
}
.simpTable:last-child {
  margin-top: 10px;
}
.simpTable th {
  background: #f1f1f1;
  padding: 10px;
  border: solid 1px #e7e7e7;
  font-size: 1.6rem;
  font-weight: normal;
}
.simpTable td {
  background: #fff;
  padding: 15px;
  border: solid 1px #e7e7e7;
}
.priceTable {
  width: 100%;
  margin-bottom: 15px;
  border: solid 1px #e7e7e7;
  font-size: 1.4rem;
}
.priceTable th {
  max-height:83px;
  background: #f1f1f1;
  padding: 20px 0px;
  border: solid 1px #e7e7e7;
  font-weight: normal;
}
.priceTable th.bgW {
  background: #fff;
}
.priceTable th.img {
  padding: 0;
}
.priceTable td {
  background: #fff;
  padding: 20px 0;
  border: solid 1px #e7e7e7;
}
.option th {
  width: 33%;
}
.option td {
  background: #fff;
  padding: 20px 35px;
  border: solid 1px #e7e7e7;
}
.priceTable .ant {
  margin-right: 150px;
}
th.sc {
  line-height: 21px;
}
ul.priceList {
  display: inline-block;
}
.priceList li{
  display: inline-block;
}
.priceOption .col:first-child {
  padding-right: 10px;
}
  /* #step
***************************************************************/
#step {
  position: relative;
  padding: 70px 0 70px;
}
.stList li {
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 30%;
  margin-right: 4%;
}
.stList li:first-child {
  z-index: 3;
}
.stList li:last-child {
  z-index: 1;
  margin-right: 0;
}
.subEng {
  font-size: 1.3rem;
  /*color: #949494*/
}

/* #faq
***************************************************************/
#faq {
  position: relative;
  background: url(../images/faq_bg.png) bottom fixed;
  background-size: cover;
  padding: 70px 0 70px;
}
.toTop {
  padding: 15px 0 15px;
  border-bottom: solid 2px #d4d4d4;
  font-size: 1.2rem;
}
.toTop a{
  color: #000;
}
.toTop img {
  margin: 6px 10px;
}
/*アコーディオン*/
.accordion ul li {
  font-size: 1.4rem;
}
.accordion ul li a {
  position: relative;
	display: block;
	background: #f1f1f1;
	cursor: pointer;
  padding: 20px 50px 20px 20px;
  border: 1px solid #e7e7e7;
}
.accordion ul li a:hover{
	background: #e7e7e7;
  text-decoration: none;
}
.accordion ul li a:after{
  position: absolute;
  right:0;
  content: url(../images/faq_arrow01.png);
  background-size:cover;
  margin-right: 20px;
}
.accordion ul li a.active:after{
  content: url(../images/faq_arrow02.png);
  background-size:cover;
}
.accordion ul li ul {
	display: none;
}
.accordion  ul li ul li {
  background: #fff;
	height: auto;
	padding: 20px;
  padding: 20px;
  font-size: 1.4rem;
}
/* #company
***************************************************************/
#company {
  padding: 30px 0 30px;
  border-bottom: solid 2px #d4d4d4;
}
#company p {
  padding: 10px 0;
  font-size: 1.4rem;
}
#company address dd {
  margin-left: 0;
}
/* #privacy
***************************************************************/
#privacy {
  padding: 15px 0 15px 0;
  border-bottom: solid 2px #d4d4d4;
  font-size: 1.4rem;
}
#privacy li {
  display: inline-block;
  margin-right: 10px;
}
#privacy li a {
  color: #000;
}
#privacy li span {
  margin-right: 10px;
}
/* footer
***************************************************/
footer {
  background: #000;
  padding: 30px 0 30px;
  font-size:1.4rem;
  color: #fff;
}
footer h1 {
  font-size: 1.4rem;
  line-height: 1.5rem;
}
.fNav {
  color: #fff;
  margin-bottom: 30px;
}
.fNav li {
  display: inline-block;
  padding: 0 10px 0;
  border-right: solid 1px #fff;
}
.fNav li:first-child {
  padding: 0 15px 0 0;
}
.fNav li a{
  color: #fff;
}
.address dt {
font-weight: normal;
}
.address dd {
margin-left: 0;
font-weight: normal;
}
.copy small {
  font-size: 1.2rem;
  line-height: 130px;
}

/*下層***************************************************/

.lower {
  background: #fff;
  }
.lower table {
  width: 100%;
  border: solid 1px #e7e7e7;
  margin-bottom: 30px;
  text-align: left;
  }
.lower th {
  /*max-height:83px;*/
  background: #f1f1f1;
  padding: 10px 20px 10px 20px;
  border: solid 1px #e7e7e7;
  vertical-align: top;
  font-weight: normal;
}
.lower td {
  padding: 20px;
  border: solid 1px #e7e7e7;
}
.lower form td {
  line-height: 2rem;
}
.lower .breadcrumb {
  margin: -50px auto 30px;
}
.lower .breadcrumb li {
  display:inline-block;
}
.lower .breadcrumb li a {
  color: #c40e03;
}
.lower #keyVisual {
  margin-bottom: 60px;
}
.lower .contactFlow {
  margin-bottom: 80px;
}
.lower .contactFlow img {
  margin-bottom: 30px;
}
.lower input {
  margin: 0 15px 15px;
  line-height: 30px;
}
.lower tr input:last-child {
  margin-bottom: 0;
}
.zipBtn {
  display: inline-block;
  background: #12608d;
  padding: 2px 15px;
  color: #fff;
}
.contTable th {
  width: 25%;
}
.consent dl {
  margin-bottom: 40px;
  padding: 25px;
  border: solid 1px #d52b47;
}
.consent dt {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px #c2c2c2;
}
.consent dd {
  margin-left: 0;
}
.consent p {
  margin-bottom: 40px;
  text-align: center;
}
.consentBtn {
  background: #cd0101;
  padding: 15px 50px;
  color: #fff;
  text-align: center;
}
.consentBtn[disabled] {
  opacity: 0.6;
}
.message img {
  margin-bottom: 30px;
}
.backLink {
  margin: 25px;
}
.backLink a {
  color: #000
}



/*タブレット以下スタイル***************************************************/
@media screen and (max-width:959px) {
  /*common**/
  body {
    width: 100%;
  }
  p {
  }
  img {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
  }
  th,
  td {
  }
  .simpTable th,
  .simpTable td {
  }
  #menu {
    display:none;
  }
  .contents_inner {
    margin: 0 auto;
    padding: 0 2%;
    overflow: hidden;
  }
  .pcOnly {
    display: none;
  }
  .spOnly {
    display: block;
    text-align: center;
  }
  .spOnly img {
    width: 100%;
  }
  .spOnly .antList {
    text-align: left;
  }
  .col,.col3,.col4,
  .col5,.col6,.col7,
  .col8,.col9,.col10 {
    float: none;
    width: 100%;
    margin: 15px auto;
  }
  .ttl {
    margin-bottom: 30px;
    font-weight: normal;
  }
  .ttlL {
    font-weight: normal;
  }
  .ttl3 {
    margin: 15px auto;
  }
  .ttl3m {
    margin: 15px auto;
    font-weight: normal;
  }
  .ttl4 {
    margin: 15px auto;
  }
  .tel {
    line-height: 34px;
  }
  .ant {
    text-indent: 15rem;
  }
  .prmList li {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 0 10%;
  }
  .prmList li img {
  min-width: 280px;
  }
  .priceTable th {
    line-height: 1.5rem;
  }
  .stListSp img {
    display: block;
    width: 65%;
    min-width: 280px;
    margin-bottom: 5px;
    text-align: center;
  }
  .stListSp img:last-child {
    margin-bottom: 30px;
  }
  .inquiry {
    text-align: center;
  }
  #company dl dd {
    line-height: 1.5rem;
  }
  #company dl dd {
    line-height: 1.5rem;
  }
  .copy small {
    text-align: center;
  }
/*スマホナビ*/
  header .spNav {
    position: absolute;
    top: 100%;
    z-index: 9999;
  }
  header .menuButton {
    border-left: solid 1px #fff;
    float: right;
    /*width: 50px;*/
    /*height: 100%;*/
    text-align: center;
  }
  header .menuButton span:hover {
    cursor: pointer;
  }
  header .menuButton span {
    line-height: 80px;
  }
  header .spNav {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    width: 100%;
    font-weight: bold;
  }
  header .spNav ul {
    margin: 0;
    padding: 0;
  }
  header .spNav ul li:first-child {
    border-top: solid 1px #fff;
  }
  header .spNav ul li {
    border-bottom: solid 1px #fff;
    padding: 1rem;
    text-align: center;
  }
  header .spNav ul li:hover {
    display: block;
    background-color: rgba(100, 100, 100, 0.8);
  }
  header .spNav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
  }
  header .spNav ul li a {
    display: block;
    color: #fff;
  }
/*スマホ下層*/
    .lower tr {
    list-style: none;
    display: block;
    width: 100%;
    }
    .lower th {
    display: list-itrem;
    width: 100%;
    }
    .lower td {
    display: list-itrem;
    width: 100%;
    }
  }
